<xf:if is="$badgeCategory.isInsert()">
	<xf:title>{{ phrase('CMTV_Badges_add_badge_category') }}</xf:title>
<xf:else />
	<xf:title>{{ phrase('CMTV_Badges_edit_badge_category:') }} {$badgeCategory.title}</xf:title>
</xf:if>

<xf:css src="CMTV_Badges.less" />

<xf:pageaction if="$badgeCategory.isUpdate()">
	<xf:button href="{{ link('badge-categories/delete', $badgeCategory) }}" icon="delete" overlay="true" />
</xf:pageaction>

<xf:form action="{{ link('badge-categories/save', $badgeCategory) }}" ajax="true" class="badge-category-edit block">
	<div class="block-container">
		<div class="block-body">
			<xf:textboxrow name="title" value="{{ $badgeCategory.exists() ? $badgeCategory.MasterTitle.phrase_text : '' }}"
						   label="{{ phrase('title') }}"/>

			<hr class="formRowSep" />
			
			<xf:radiorow name="icon_type" value="{$badgeCategory.icon_type}" label="{{ phrase('CMTV_Badges_icon_type') }}">
				<xf:option value="" label="{{ phrase('none') }}" />
				<xf:option value="fa" label="{{ phrase('icon') }}">
					<xf:dependent>
						<xf:textbox name="fa_icon" value="{$badgeCategory.fa_icon}" fa="{$badgeCategory.fa_icon}" />
						<dfn class="inputChoices-explain">{{ phrase('CMTV_Badges_icon_code_explain') }}</dfn>
					</xf:dependent>
				</xf:option>
				<xf:option value="image" label="{{ phrase('image') }}">
						<xf:dependent>
							<table style="width:100%">
								<tr>
    								<td>
										<xf:textbox tabindex="1" name="image_url" value="{$badgeCategory.image_url}" placeholder="{{ phrase('CMTV_Badges_image_url_1x') }}" />
									</td>
    								<td>
										<xf:textbox tabindex="3" name="image_url_3x" value="{$badgeCategory.image_url_3x}" placeholder="{{ phrase('CMTV_Badges_image_url_3x') }}" />
									</td>
  								</tr>
  								<tr>
    								<td>
										<xf:textbox tabindex="2" name="image_url_2x" value="{$badgeCategory.image_url_2x}" placeholder="{{ phrase('CMTV_Badges_image_url_2x') }}" />
									</td>
    								<td>
										<xf:textbox tabindex="4" name="image_url_4x" value="{$badgeCategory.image_url_4x}" placeholder="{{ phrase('CMTV_Badges_image_url_4x') }}" />
									</td>
  								</tr>
							</table>
							<dfn class="inputChoices-explain">{{ phrase('CMTV_Badges_image_url_explain') }}</dfn>
							<table>
								<thead>
									<tr>
										<xf:if is="$badgeCategory.image_url">
											<th>
												<img class="image-icon-preview yellow" src="{{ base_url($badgeCategory.image_url) }}" />
											</th>
										</xf:if>
										<xf:if is="$badgeCategory.image_url_2x">
											<th>
												<img class="image-icon-preview blue" src="{{ base_url($badgeCategory.image_url_2x) }}" />
											</th>
										</xf:if>
										<xf:if is="$badgeCategory.image_url_3x">
											<th>
												<img class="image-icon-preview purple" src="{{ base_url($badgeCategory.image_url_3x) }}" />
											</th>
										</xf:if>
										<xf:if is="$badgeCategory.image_url_4x">
											<th>
												<img class="image-icon-preview grey" src="{{ base_url($badgeCategory.image_url_4x) }}" />
											</th>
										</xf:if>
									</tr>
									<tr>
										<xf:if is="$badgeCategory.image_url"><td class="image-icon-description yellow">@1x Resolution</td></xf:if>
										<xf:if is="$badgeCategory.image_url_2x"><td class="image-icon-description blue">@2x Resolution</td></xf:if>
										<xf:if is="$badgeCategory.image_url_3x"><td class="image-icon-description purple">@3x Resolution</td></xf:if>
										<xf:if is="$badgeCategory.image_url_4x"><td class="image-icon-description grey">@4x Resolution</td></xf:if>
									</tr>
								</thead>
							</table>
						</xf:dependent>
					</xf:option>
				</xf:radiorow>
			
			<hr class="formRowSep" />
			
			<xf:textboxrow name="class" value="{$badgeCategory.class}"
						   label="{{ phrase('CMTV_Badges_css_class') }}" explain="{{ phrase('CMTV_Badges_css_class_explain') }}" />
			
			<hr class="formRowSep" />
			
			<xf:macro template="display_order_macros" name="row"
					  arg-value="{$badgeCategory.display_order}" />
		</div>

		<xf:submitrow icon="save" />
	</div>
</xf:form>