<xf:title>{{ phrase('CMTV_Badges_members_awarded_with_this_badge') }}</xf:title>

<xf:head option="metaNoindex"><meta name="robots" content="noindex" /></xf:head>

<xf:breadcrumb source="{$breadcrumbs}" />

<div class="block">
	<div class="block-container">
		<ol class="block-body">
			<xf:foreach loop="$userBadges" value="$userBadge">
				<li class="block-row block-row--separated">
					<xf:set var="$user" value="{$userBadge.User}" />
					
					<div class="contentRow">
						<div class="contentRow-figure">
							<xf:avatar user="$user" size="s" notooltip="true" />
						</div>
						
						<div class="contentRow-main">
							<div class="contentRow-extra">
								<xf:date time="{$userBadge.award_date}" />
							</div>

							<h3 class="contentRow-header"><xf:username user="$user" rich="true" notooltip="true" /></h3>

							<div class="contentRow-snippet" title="{{ phrase('CMTV_Badges_award_reason') }}">
								{{ $userBadge.reason|raw }}
							</div>
						</div>
					</div>
				</li>
			</xf:foreach>
		</ol>
	</div>
	
	<xf:pagenav
				page="{$page}" perpage="{$perPage}" total="{$total}"
				link="badges/awarded-list"
				data="{$badge}"
				wrapperclass="block-outer block-outer--after" />
</div>